@model WebApplication1.ViewModels.ChatViewModel

@{
    ViewData["Title"] = "留言板新增";
}

<form method="post" action="New">
    <div>
        <label>內容:</label>
        <input asp-for=@Model.chat_New_Request.name type="text" required/>
        <button type="button" id="btn" class="btn btn-primary">新增</button>
    <div>
</form>

<script>
    $("#btn").click(function (){
        let form = document.getElementById("btn").closest("form");
        if(!form.checkValidity()){
            swal('錯誤', '請輸入內容', 'error');
        }
        else{
            $("#btn").attr("disabled", "true")
            form.submit()
        }
    })
</script>