@model WebApplication1.ViewModels.ChatViewModel

@{
    ViewData["Title"] = "留言板新增";
}

<div class="modal fade" id="AddModal" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>新增</h5>
                <button data-bs-dismiss="modal" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-controller="Chat" asp-action="New">
                    <div>
                        <label>內容:</label>
                        <input asp-for=@Model.chat_New_Request.content type="text" class="form-control" required/>
                    <div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" id="btn" class="btn btn-primary">新增</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#btn").click(function (){
        let form = document.getElementById("btn").closest("form");
        if(!form.checkValidity()){
            swal('錯誤', '請輸入內容', 'error');
        }
        else{
            $("#btn").attr("disabled", "true")
            form.submit()
        }
    })
</script>