@model WebApplication1.ViewModels.ChatViewModel

<form method="post" action="New">
    <div>
        <label>內容:</label>
        <input asp-for=@Model.chat_New_Request.name type="text" required/>
        <button type="submit" id="btn" class="btn btn-primary">新增</button>
    <div>
</form>

<script>
    /*$("#btn").click(function (){
        let content = $("#content").val();
        if(content == ''){
            swal('錯誤', '請輸入內容', 'error');
        }
        else{
            $.ajax({
                url : '@Url.Action("Add", "Chat")',
                data : { "name" : content },
                type : "POST",
                success : function(data){
                    swal('新增成功', '', 'success').then(function(){
                        location.href = '@Url.Action("Index", "Chat")'
                    })
                }
            })
        }
    })*/
</script>