@model WebApplication1.ViewModels.ChatViewModel

@{
    ViewData["Title"] = "留言板";
}

@{
    if(TempData["success_message"] != null){
        <script>
            swal('@Html.Raw(@TempData["success_message"])', "", "success")
        </script>
    }
    if(TempData["alert_message"] != null){
        <script>
            swal('@Html.Raw(@TempData["alert_message"])', "", "error")
        </script>
    }
}

<a href="chat/Add"><button class="btn btn-primary">新增</button></a>

@section List{
    <partial name="./List"/>
}