@model WebApplication1.ViewModels.ChatViewModel

@{
    ViewData["Title"] = "留言板";
}

@{
    if(TempData["success_message"] != null){
        <script>
            swal('@Html.Raw(@TempData["success_message"])', "", "success")
        </script>
    }
    if(TempData["alert_message"] != null){
        <script>
            swal('@Html.Raw(@TempData["alert_message"])', "", "error")
        </script>
    }
}

<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddModal">新增</button>

@section List{
    <partial name="./List"/>
}